* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

/* --------- الصفحات --------- */
.page1 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}
.page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

/* الخلفية + overlay */
.page1 {
    background: url(../images/web.png) center/cover no-repeat;
}
.page2 {
    background: url(../images/page2.png) center/cover no-repeat;
}
.page3 {
    background: url(../images/page2.png) center/cover no-repeat;
}
.page4{
    background: url(../images/page2.png) center/cover no-repeat;
}
.page5{
    background: url(../images/page2.png) center/cover no-repeat;
}
.page6{
    background: url(../images/page2.png) center/cover no-repeat;
}
.page7{
    background: url(../images/page2.png) center/cover no-repeat;
}
.page8{
    background: url(../images/page2.png) center/cover no-repeat;
}
.page9{
    background: url(../images/page2.png) center/cover no-repeat;
}
.page10{
    background: url(../images/page2.png) center/cover no-repeat;
}
.page11{
    background: url(../images/المسار_20260228_161225_0000.png) center/cover no-repeat;
}
.pagefinal{
    background-color: black;
}

.page1 .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 .content h2 {
    font-size: 32px;
    padding: 0 15px;
}

/* --------- الصفحة الثانية --------- */
.page .content {
    padding: 20px;
}
.page .content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.page .content p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.5;
}
.page .btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #FFD100;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s;
}
.page .btn:hover {
    transform: scale(1.05);
}
/* --------- الصفحة الثالثة --------- */
.page3 .content {
    padding: 20px;
}
.page3 .content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.page3 .content p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.5;
}
.page3 .btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #FFD100;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s;
}
.page3 .btn:hover {
    transform: scale(1.05);
}
/* الصفحه الرابعه */
.page4 .content {
    padding: 20px;
}
.page4 .content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.page4 .content p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.5;
}
.page4 .btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #FFD100;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s;
}
.page4 .btn:hover {
    transform: scale(1.05);
}
/* الصفحه الخامسه */
.page5 .content {
    padding: 20px;
}
.page5 .content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.page5 .content p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.5;
}
.page5 .btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #FFD100;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s;
}
.page5 .btn:hover {
    transform: scale(1.05);
}
/* الصفحه السادسه */
.page6 .content {
    padding: 20px;
}
.page6 .content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.page6 .content p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.5;
}
.page6 .btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #FFD100;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s;
}
.page6 .btn:hover {
    transform: scale(1.05);
}
/* الصفحه السابعة */
.page7 .content {
    padding: 20px;
}
.page7 .content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.page7 .content p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.5;
}
.page7 .btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #FFD100;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s;
}
.page7 .btn:hover {
    transform: scale(1.05);
}
/* الصفحه الثامنه */
.page8 .content {
    padding: 20px;
}
.page8 .content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.page8 .content p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.5;
}
.page8 .btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #FFD100;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s;
}
.page8 .btn:hover {
    transform: scale(1.05);
}
/* الصفحه الاخيرة */
.pagefinal .content {
    padding: 20px
}
.pagefinal .content h2 {
    font-size: 30px;
    margin-bottom: 25px;
    color: #FFD100;
}
.pagefinal .content p {
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 1.5;
}
.pagefinal .content .finall{
    margin-top: 200px;
    font-style: italic;
}

/* --------- Media Queries للشاشات الأكبر --------- */
@media screen and (min-width: 768px) {
    .page1 .content h2 {
        font-size: 48px;
    }
    .page .content h2 {
        font-size: 30px;
    }
    .page .content p {
        font-size: 20px;
    }
    .page .btn {
        font-size: 18px;
        padding: 14px 30px;
    }
    .page3 .content h2 {
        font-size: 30px;
    }
    .page3 .content p {
        font-size: 20px;
    }
    .page3 .btn {
        font-size: 18px;
        padding: 14px 30px;
    }
       .page4 .content h2 {
        font-size: 30px;
    }
    .page4 .content p {
        font-size: 20px;
    }
    .page4 .btn {
        font-size: 18px;
        padding: 14px 30px;
    }
    .page5 .content h2 {
        font-size: 30px;
    }
    .page5 .content p {
        font-size: 20px;
    }
    .page5 .btn {
        font-size: 18px;
        padding: 14px 30px;
    }
    .page6 .content h2 {
        font-size: 30px;
    }
    .page6 .content p {
        font-size: 20px;
    }
    .page6 .btn {
        font-size: 18px;
        padding: 14px 30px;
    }

   .page7 .content h2 {
        font-size: 36px;
    }
    .page7 .content p {
        font-size: 22px;
    }
    .page7 .btn {
        font-size: 20px;
        padding: 16px 40px;
    }
     .page8 .content h2 {
        font-size: 36px;
    }
    .page8 .content p {
        font-size: 22px;
    }
    .page8 .btn {
        font-size: 20px;
        padding: 16px 40px;
    }

    .pagefinal .content h2 {
        font-size: 30px;
    }
    .pagefinal .content p {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .page1 .content h2 {
        font-size: 60px;
    }
    .page .content h2 {
        font-size: 36px;
    }
    .page .content p {
        font-size: 22px;
    }
    .page .btn {
        font-size: 20px;
        padding: 16px 40px;
    }
    .page3 .content h2 {
        font-size: 36px;
    }
    .page3 .content p {
        font-size: 22px;
    }
    .page3 .btn {
        font-size: 20px;
        padding: 16px 40px;
    }
    .page4 .content h2 {
        font-size: 36px;
    }
    .page4 .content p {
        font-size: 22px;
    }
    .page4 .btn {
        font-size: 20px;
        padding: 16px 40px;
    }
    .page5 .content h2 {
        font-size: 36px;
    }
    .page5 .content p {
        font-size: 22px;
    }
    .page5 .btn {
        font-size: 20px;
        padding: 16px 40px;
    }
    .page6 .content h2 {
        font-size: 36px;
    }
    .page6 .content p {
        font-size: 22px;
    }
    .page6 .btn {
        font-size: 20px;
        padding: 16px 40px;
    }

    .page7 .content h2 {
        font-size: 36px;
    }
    .page7 .content p {
        font-size: 22px;
    }
    .page7 .btn {
        font-size: 20px;
        padding: 16px 40px;
    }
     .page8 .content h2 {
        font-size: 36px;
    }
    .page8 .content p {
        font-size: 22px;
    }
    .page8 .btn {
        font-size: 20px;
        padding: 16px 40px;
    }

    .pagefinal .content h2 {
        font-size: 36px;
    }
    .pagefinal .content p {
        font-size: 22px;
    }
}
